@using MyBlog.ViewModels
@model IList<PostDispVm>

@{
    ViewBag.Title = "Galkin Lab";
}


<div class="container">
            @Html.Action("AuthorControlCreate")

            @foreach (PostDispVm item in Model)
            {
                <div class="row">
                    <div class="col-md-8">
                        <p class="h3">
                            @Html.DisplayFor(modelItem => item.Tittle)
                        </p>
                    </div>
                </div>
                @Html.Action("AuthorControlEdit", new { PostId = item.PostId })

                @Html.DisplayFor(modelItem => item.PostContents)

                <div class="row text-info">
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => item.PostCommentCount) : @Html.DisplayFor(modelItem => item.PostCommentCount)
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayNameFor(model => item.PostViewCount) : @Html.DisplayFor(modelItem => item.PostViewCount)
                    </div>
                </div>
            }

        </div>




