@model IList<MyBlog.ViewModels.PostDispVm>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    @Html.Action("AuthorControlCreate")
    @foreach (MyBlog.ViewModels.PostDispVm item in Model)
    {
        <div class="row col-md-10">
            <p class="h3">
                @Html.DisplayFor(modelItem => item.Post.Tittle)
                @*@Html.Action("AuthorControlEdit",new  {PostId = item.Post.PostId})*@
            </p>
        </div>
        @Html.DisplayFor(modelItem => item.PostContents)

        <div class="row text-info">
            <div class="col-md-5">
                @Html.DisplayNameFor(model => model.FirstOrDefault().PostCommentCount) : @Html.DisplayFor(modelItem => item.PostCommentCount)
            </div>
            <div class="col-md-5">
                @Html.DisplayNameFor(model => model.FirstOrDefault().PostViewCount) : @Html.DisplayFor(modelItem => item.PostViewCount)
            </div>
        </div>
    }

</div>



 
