@model PluginTextPostType.Models.VmManage
@{
    Layout = null;
}
@using System.Text.RegularExpressions;


<div id="@Model.PostContentId" data-edit-diff-flag="@Model.data_edit_diff_flag"
     data-_temporary_PostContentId="@Model.tempPostContentId">
    <div class="panel panel-info">
        <div class="panel-heading">
            Контент
        </div>
        <div class="panel-body">


            <div class="row">
                <div class="col-md-11">
                    <p class="text-right">
                        <em>
                            @Html.DisplayFor(x => x.Comment)
                        </em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    @if (Model.Data != null)
                    {

                        @Html.Raw(Model.Data)
                    }

                </div>
                <div class="col-md-1">
                    @Ajax.ActionLink("Edit", "Modify", new
               {
                   PostContentId = Model.PostContentId,
                   tempPostContentId = Model.tempPostContentId,
                   PostId = Model.PostId,
                   data_edit_diff_flag = Model.data_edit_diff_flag,
                   List_content_insert_before_Id = Model.List_content_insert_before_Id,
                   Update_area_replace_Id = Model.Update_area_replace_Id,
                   OnSuccessRemoveCallback = Model.OnSuccessRemoveCallback
               },
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = Model.Update_area_replace_Id
            })
                    <br />
                    @Ajax.ActionLink("Delete", "DeleteContent", new
               {
                   PostContentId = Model.PostContentId,
                   tempPostContentId = Model.tempPostContentId,
                   PostId = Model.PostId
               },
            new AjaxOptions
            {
                HttpMethod = "POST",
                Confirm = "Удалить?",
                OnSuccess = Model.OnSuccessRemoveCallback

            })
                </div>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/Content/prism")
@Scripts.Render("~/bundles/prism")
