@model MyBlog.ViewModels.ContentTextVm

        @Html.HiddenFor(x => x.ContentDataType)
        @Html.HiddenFor(x => x.PostContentId)

        @Html.LabelFor(x => x.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.Comment, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        @Html.LabelFor(x => x.ContentData, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class=" col-md-10">
            @Html.TextAreaFor(x => x.ContentData, htmlAttributes: new { @class = "form-control  TextPostArea" })
        </div>


