@using MyBlog.ViewModels
@model PostDispVm

<div class="row">
    <div class="col-md-8">
        <p class="h3">
            @Html.DisplayFor(m=>m.Tittle)
        </p>
    </div>
</div>
@Html.Action("AuthorControlEdit", new { PostId = Model.PostId })
<div class="row">
    <div class="col-md-8">
        @Html.DisplayFor(m => m.PostContents)
        @*@Html.Action("IndexByPost", "Content",new  { PostDispVm_model = item })*@
    </div>
</div>
<div class="row text-info">
    <div class="col-md-4">
        @Html.DisplayNameFor(m => m.PostCommentCount) : @Html.DisplayFor(m => m.PostCommentCount)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(m => m.PostViewCount) : @Html.DisplayFor(m => m.PostViewCount)
    </div>
</div>
