@using MyBlog.ViewModels
@model PostDispVm2



    @using MyBlog.Infrastructure.Services
    @using MyBlogContract.Band
    @using MyBlogContract.PostManage


<div class="row">
    <div class="col-md-8">
        <p class="h3">
            @Html.DisplayFor(m => m.Tittle)
        </p>
    </div>
</div>
@Html.Action("AuthorControlEdit", new { PostId = Model.PostId })
<div class="row">
    <div class="col-md-8">
        @{ 

            foreach (var item in Model.PostContents)
            {


                IDEModelDisplay dte = (IDEModelDisplay)PlugInFactory.GetModelByInterface(typeof(IDEModelDisplay), item.DataPluginName);
                dte.Id = item.PostContentId;


                RouteValueDictionary rvd = dte.GetDictionary();


                rvd.Add("area", item.DataPluginName);

                @Html.Action(PlugInFactory.GetActionDisplayNameByInterface(typeof(IBandDisplay), item.DataPluginName)
                                           , PlugInFactory.GetControllerNameByInterface(typeof(IBandDisplay), item.DataPluginName), rvd)


             }

       }
    </div>
</div>
<div class="row text-info">
    <div class="col-md-4">
        @Html.DisplayNameFor(m => m.PostCommentCount) : @Html.DisplayFor(m => m.PostCommentCount)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(m => m.PostViewCount) : @Html.DisplayFor(m => m.PostViewCount)
    </div>
</div>
