@model MyBlog.ViewModels.ContentImageVm


<div class="row col-md-offset-2 col-md-10" id="@Model.PostContentId" data-edit-diff-flag="@Model.data_edit_diff_flag">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <p class=" text-right">
                        <em>
                            @Html.DisplayFor(x => x.Comment)
                        </em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    @{

                        string imageBase64 = Convert.ToBase64String(Model.ContentData);
                        string imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                    }
                    <img src="@imageSrc" alt="@Model.Comment" width="150" height="100" />
                </div>
                <div class="col-md-2">
                    @Ajax.ActionLink("Edit", "EditContent", new { PostContentId = Model.PostContentId,
                                                                    PostId = Model.PostId},
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "new_content_div"
            })
                    <br />
                    @Ajax.ActionLink("Delete", "DeleteContent", new { PostContentId = Model.PostContentId,
                                                                      PostId = Model.PostId},
            new AjaxOptions
            {
                HttpMethod = "POST",
                Confirm = "Удалить?",
                OnSuccess = "removeContentId"

            })
                </div>
            </div>
        </div>
     </div>
</div>