@using MyBlog.ViewModels
@model PostDispVm

@{
    ViewBag.Title = "Удалить пост";
}


<div class="container">



        <div class="row col-md-10">
            <p class="h3">
                @Html.DisplayFor(model=> model.Tittle)
            </p>
        </div>
        @Html.DisplayFor(model => model.PostContents)
        <div class="row text-info">
            <div class="col-md-5">
                @Html.DisplayNameFor(model => model.PostCommentCount) : @Html.DisplayFor(model => model.PostCommentCount)
            </div>
            <div class="col-md-5">
                @Html.DisplayNameFor(model => model.PostViewCount) : @Html.DisplayFor(model => model.PostViewCount)
            </div>
        </div>
    @using (@Html.BeginForm("DeletePost", "PostEditor", FormMethod.Post, new { id = "DeletePostForm", role = "form" }))
    {
        @Html.HiddenFor(model => Model.PostId)
    }
    <div class=" form-group">
        <div class="col-lg-offset-8 col-md-4">
            <button type="button" class="btn btn-primary pull-right" onclick="document.forms['DeletePostForm'].submit();">Сохранить</button>
            <button type="button" data-dismiss="modal" class="btn pull-right">Закрыть</button>
        </div>
    </div>
</div>



 
