@using MyBlog.ViewModels
@using MyBlog.Infrastructure.Services
@using MyBlogContract.PostManage

@model PostVm



@{
    ViewBag.Title = "Удалить пост";
}


<div class="container">

        <h3>@ViewBag.Title</h3>

        <div class="row col-md-10">
            <p class="h3">
                @Html.DisplayFor(model=> model.Tittle)
            </p>
        </div>
  


    @{


        foreach (var item in Model.PostContents)
        {

            IDEModelPostManage dte = PlugInFactory.GetModelByInterface<IDEModelPostManage>( item.ContentPluginName);
            if (dte != null)
            {
                dte.PostId = item.PostId;
                dte.PostContentId = item.PostContentId;
                dte.Update_area_replace_Id = "Update_area_replace";
                dte.List_content_insert_before_Id = "list_content_insert_before";
                dte.OnSuccessRemoveCallback = "removeContentId";
                dte.CallbackActionName = "EditPost";
                dte.CallbackControllerName = "PostEditor";
               // dte.AreaName = item.ContentPluginName;

                @Html.Action("Display"
                                                , PlugInFactory.GetControllerNameByInterface<IPostManager>( item.ContentPluginName)
                                                , dte.GetDictionary())
            }
            else
            {
                string plugin_string = item.ContentPluginName ?? "(empty)";
                @Html.Partial("NotFounPlugin", plugin_string, null)
            }

        }

    }



        <div class="row text-info">
            <div class="col-md-5">
                @Html.DisplayNameFor(model => model.PostCommentCount) : @Html.DisplayFor(model => model.PostCommentCount)
            </div>
            <div class="col-md-5">
                @Html.DisplayNameFor(model => model.PostViewCount) : @Html.DisplayFor(model => model.PostViewCount)
            </div>
        </div>
    @using (@Html.BeginForm("DeletePost", "PostEditor", FormMethod.Post, new { id = "DeletePostForm", role = "form" }))
    {
        @Html.HiddenFor(model => Model.PostId)
    }
    <div class="form-group">
        <div class="col-lg-offset-8 col-md-4">
            <button type="button" class="btn btn-danger pull-right" onclick="document.forms['DeletePostForm'].submit();">Удалить</button>
            <button type="button" data-dismiss="modal" class="btn  pull-right" onclick="document.location = '@Url.Action("CancelPostEdition")'">
                Закрыть
            </button>
        </div>
    </div>
</div>



 
