@model MyBlog.ViewModels.ChangePasswordAndConfirmEmailVm
@{
    ViewBag.Title = "Изменение пароля";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("ConfirmEmailAndChangePassword", "Init" ))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(Model => Model.newPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label>
                        @Html.EditorFor(Model => Model.newPassword, new { htmlAttributes = new { @class = "form-control  ", placeholder = "•••••••••••••••••" } })
                        @Html.ValidationMessageFor(Model => Model.newPassword, "", new { @class = "text-danger" })
                     </label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.confirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class=" col-md-10">
                    <label>
                        @Html.EditorFor(Model => Model.confirmNewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "•••••••••••••••••" } })
                        @Html.ValidationMessageFor(Model => Model.confirmNewPassword, "", new { @class = "text-danger" })
                    </label>
                </div>
            </div>
            @Html.HiddenFor(Model => Model.userId)
            @Html.HiddenFor(Model => Model.code)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Ок" />
                </div>
            </div>
       }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}