@model MyBlog.ViewModels.LoginVm
<p class='h3'>Логин</p>
<p class="small">Помогите нам вспомнить Вас</p>
@using (Html.BeginForm("Login","Init"))
{
    @Html.AntiForgeryToken()
    if (Request.Form.AllKeys.Contains("EmailLog"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    }
    <div class="form-group">
        @Html.LabelFor(model => model.EmailLog, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.EmailLog, new { htmlAttributes = new { @class = "form-control col-md-9 inputbox tbMail", placeholder = "ivan.ivanov@mail.ru" } })
        <div class="row">
            @Html.ValidationMessageFor(model => model.EmailLog, "", new { @class = "text-danger col-md-12" })
        </div>

        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new {@class = "form-control col-md-9 inputbox tbKey", placeholder = "•••••••••••••••••" } }) @*"&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"*@
        <div class="row">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger col-md-12" })
        </div>

    </div>
                            <div class="form-group">
                                <div class='checkboxArea checkbox-inline'>
                                    <label for='RememberMe' class='cbLabelOut'>
                                            @Html.EditorFor(Model => Model.RememberMe)
                                        <label for='RememberMe' class='cbLabelIn'>
                                        </label>
                                    </label>
                                    <label for='RememberMe' class='label'>Запомнить пароль</label>
                                    <label  class='label '><a href=@Url.Action("ForgotPassword","Init")>Забыли пароль?</a></label>
                                </div>
                            </div>
                            <input type='submit' class='btn btn-default button' value='Войти'>
                            <input type='button' class='btn btn-default button' value='Я - Гость'
                                   onclick='document.location="@Url.Action("Index","Band")"'>

}
