@model MyBlog.ViewModels.RegisterVm

<p class='h3'>Регистрация</p>
<p class="small">Это не отнимет много Вашего времени</p>
@using (Html.BeginForm("Register","Init"))
            {
                @Html.AntiForgeryToken()
                if (Request.Form.AllKeys.Contains("EmailReg"))
                {
                       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                }
    <div class="form-group">

        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control col-md-9 inputbox tbUser", placeholder = "Полное имя" } })
        <div class="row">
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger col-md-12" })
        </div>

        @Html.LabelFor(model => model.EmailReg, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.EditorFor(model => model.EmailReg, new { htmlAttributes = new { @class = "form-control col-md-9 inputbox tbMail", placeholder = "ivan.ivanov@mail.ru" } })
        <div class="row">
            @Html.ValidationMessageFor(model => model.EmailReg, "", new { @class = "text-danger col-md-12" })
        </div>

    </div>
                            <div class="form-group">

                                <div class='checkboxArea checkbox-inline'>
                                    @Html.EditorFor(model=>model.NotifyMe)
                                        <label for='NotifyMe' class='cbLabelOut'>
                                        <label for='NotifyMe' class='cbLabelIn'></label>
                                    </label>
                                    <label for='NotifyMe' class='label'>Уведомлять о новинках?</label>
                                    <label for='NotifyMe' class='label '>Обещаем не злоупотреблять:)</label>

                                </div>

                            </div>
                            <input type='submit' class='btn btn-default button' value='Регистрация'>

}